In [1]:
type(99.9)

float

In [2]:
type("False")

str

In [3]:
type(False)

bool

In [4]:
type('0')

str

In [5]:
type(True)

bool

In [6]:
type('True')

str

In [7]:
type([{}])

list

In [8]:
type({'a': []})

dict

In [2]:
2. What data type would best represent the following?

In [ ]:
# 2a.A term or phrase typed into a search box - string
String

In [ ]:
# 2b.Whether or not a user is logged in - boolean
Bool

In [ ]:
# 2c.A discount amount to apply to a user's shopping cart - float or integer
Float

In [ ]:
# 2d.Whether or not a coupon code is valid - boolean
Bool

In [ ]:
# 2e.An email address typed into a registration form - string
String

In [ ]:
# 2f.The price of a product - float or integer
Float

In [ ]:
# 2g.The email addresses collected from a registration form - list of strings
list

In [ ]:
# 2h.Information about applicants to Codeup's data science program - list of dictionaries
dict

In [ ]:
3. For each of the following code blocks:

Read the expression and predict the evaluated results

Execute the expression in a Python REPL.

In [14]:
'1' + 2 #error

TypeError: can only concatenate str (not "int") to str

In [3]:
6 % 4

2

In [4]:
type(6 % 4)

int

In [18]:
'3 + 4 is ' + 3 + 4 # error

TypeError: can only concatenate str (not "int") to str

In [19]:
0 < 0 #F

False

In [20]:
'False' == False #F not the same value

False

In [21]:
True == 'True' #F not the same valueb

False

In [22]:
5 >= -5 #T 5 is greater thsn -5

True

In [23]:
True or "42" #F

True

In [24]:
6 % 5 #1

1

In [25]:
5 < 4 and 1 == 1 #F 5 isn't < 4

False

In [26]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'# F codeup /= Codeup

False

In [5]:
4 >= 0 and 1 !== '1'
# error

SyntaxError: invalid syntax (2728420859.py, line 1)

In [28]:
6 % 3 == 0 # T

True

In [29]:
5 % 2 != 0 #T sum doesn't = 0

True

In [6]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [31]:
[1] + [2] # 1, 2

[1, 2]

In [32]:
[1] * 2 # 1,1 0 is one and two is one

[1, 1]

In [33]:
[1] * [2] #

TypeError: can't multiply sequence by non-int of type 'list'

In [34]:
[] + [] == []

True

In [35]:
{} + {} # error not a taype

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
Describe the following scenarios. You will need to create and assign variables and use operators

In [ ]:
#5. You have rented some movies for your kids:

The Little Mermaid for 3 days
Brother Bear for 5 days
Hercules for 1 day

In [36]:
little_mermaid_days = 3
brother_bear_days = 5
hercules_days = 1
daily_rate = 3

total_rental_amount = (little_mermaid_days + brother_bear_days + hercules_days) * daily_rate
print("Total amount to be paid for renting movies:", total_rental_amount)

Total amount to be paid for renting movies: 27

In [ ]:
#6. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.
They pay you the following hourly rates:

Google: 400 dollars
Amazon: 380 dollars
Facebook: 350 dollars
This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

How much will you receive in payment for this week?

In [37]:
google_hourly_rate = 400
amazon_hourly_rate = 380
facebook_hourly_rate = 350

google_hours = 6
amazon_hours = 4
facebook_hours = 10

total_payment = (google_hours * google_hourly_rate) + (amazon_hours * amazon_hourly_rate) + (facebook_hours * facebook_hourly_rate)
print("Total payment for the week:", total_payment)

Total payment for the week: 7420

In [ ]:
#7.A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [18]:
can_be_enrolled = class_not_full and schedule_not_conflicting

In [19]:
class_not_full = True
schedule_not_conflicting= True

In [20]:
can_be_enrolled

True

In [21]:
class_is_full = False
schedule_conflict = False

In [22]:
enrollable_status = not (class_is_full or schedule_conflict)
enrollable_status

True

In [23]:
#8. A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.
purchase_more_than_two = True
product_not_expired = True
premium_membership = False

In [24]:
discount_eligability = product_not_expired and (purchase_more_than_two or premium_membership)
discount_eligability

True

In [43]:
#9. Create a variable that holds a boolean value for each of the following conditions:

username = 'codeup'
password = 'notastrongpassword'

# check if the password is at least 5 characters
password_length = len(password) >= 5

# check if the username is no more than 20 characters
username_length = len(username) <= 20

# check if the password is not the same as the username
qualification = password != username
# print the results

print(password_length)
print(username_length)
print(username_and_password)

True
True
True