In [1]:
type(99.9)

float

In [2]:
type("False")

str

In [3]:
type(False)

bool

In [4]:
type('0')

str

In [5]:
type(True)

bool

In [6]:
type('True')

str

In [7]:
type([{}])

list

In [8]:
type({'a': []})

dict

In [ ]:
2. What data type would best represent the following?

2a.A term or phrase typed into a search box - string

2b.Whether or not a user is logged in - boolean

2c.A discount amount to apply to a user's shopping cart - float or integer

2d.Whether or not a coupon code is valid - boolean

2e.An email address typed into a registration form - string

2f.The price of a product - float or integer

2g.The email addresses collected from a registration form - list of strings

2h.Information about applicants to Codeup's data science program - list of dictionaries

In [14]:
'1' + 2 #error

TypeError: can only concatenate str (not "int") to str

In [16]:
type(6 % 4) #int

int

In [17]:
type(type(6 % 4)) #str

type

In [18]:
'3 + 4 is ' + 3 + 4 # error

TypeError: can only concatenate str (not "int") to str

In [19]:
0 < 0 #F

False

In [20]:
'False' == False #F not the same value

False

In [21]:
True == 'True' #F not the same valueb

False

In [22]:
5 >= -5 #T 5 is greater thsn -5

True

In [23]:
True or "42" #F

True

In [24]:
6 % 5 #1

1

In [25]:
5 < 4 and 1 == 1 #F 5 isn't < 4

False

In [26]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'# F codeup /= Codeup

False

In [27]:
4 >= 0 and 1 !== '1' # error

SyntaxError: invalid syntax (3850088429.py, line 1)

In [28]:
6 % 3 == 0 # T

True

In [29]:
5 % 2 != 0 #T sum doesn't = 0

True

In [30]:
[1] + 2 #?

TypeError: can only concatenate list (not "int") to list

In [31]:
[1] + [2] # 1, 2

[1, 2]

In [32]:
[1] * 2 # 1,1 0 is one and two is one

[1, 1]

In [33]:
[1] * [2] #idk

TypeError: can't multiply sequence by non-int of type 'list'

In [34]:
[] + [] == [] #T

True

In [35]:
{} + {} # error not a taype

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [36]:
little_mermaid_days = 3
brother_bear_days = 5
hercules_days = 1
daily_rate = 3

total_rental_amount = (little_mermaid_days + brother_bear_days + hercules_days) * daily_rate
print("Total amount to be paid for renting movies:", total_rental_amount)

Total amount to be paid for renting movies: 27

In [37]:
google_hourly_rate = 400
amazon_hourly_rate = 380
facebook_hourly_rate = 350

google_hours = 6
amazon_hours = 4
facebook_hours = 10

total_payment = (google_hours * google_hourly_rate) + (amazon_hours * amazon_hourly_rate) + (facebook_hours * facebook_hourly_rate)
print("Total payment for the week:", total_payment)

Total payment for the week: 7420

In [39]:
# Scenario: Enrolling a student to a class.
# Variables:
# class_size: maximum number of students that can enroll in the class
# current_enrollment: current number of students enrolled in the class
# class_schedule: schedule of the class
# student_schedule: schedule of the student
# Operators:

# >: greater than operator
# !=: not equal to operator
# and: logical operator that returns True if both conditions are True

class_size = 30
current_enrollment = 25
class_schedule = 'MWF 9-10am'
student_schedule = 'TTH 9-10am'

can_enroll = current_enrollment < class_size and class_schedule != student_schedule
# print the results

In [42]:
# Scenario: Applying a product offer to a purchase.
# Variables:

# item_count: number of items in the purchase
# is_premium_member: whether the customer is a premium member
# offer_valid: whether the offer is still valid
# Operators:

# >: greater than operator
# and: logical operator that returns True if both conditions are True
# or: logical operator that returns True if at least one condition is True

item_count = 3
is_premium_member = True
offer_valid = True

can_apply_offer = item_count > 2 or (item_count > 0 and is_premium_member) and offer_valid

# print the results

In [43]:
username = 'codeup'
password = 'notastrongpassword'

# check if the password is at least 5 characters
is_valid_password_length = len(password) >= 5

# check if the username is no more than 20 characters
is_valid_username_length = len(username) <= 20

# check if the password is not the same as the username
is_valid_password = password != username
# print the results

print(is_valid_password_length)
print(is_valid_username_length)
print(is_valid_password)

True
True
True